  <nav>
    <div class="row">
      <div class="col p1">
        <table>
          <tr>
            <th>
            </th>
            <th>
              <a class="navfont1" routerLink="/">Home</a>
            </th>
            <th>
              <a class="navfont2" routerLink="/add">Add</a>
            </th>
            <th>
              <a class="navfont2" routerLink="/multiply">Multiply</a>
            </th>
            <th>
              <a class="navfont2" routerLink="/subtract">Subtract</a>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </nav>