/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Exo:ital@1&display=swap');
h1, h3, h5{
    font-family: 'Exo', serif;
    color: red;
}
.font{
    font-family: 'Exo', serif;
    font-size: 20px;
    width: 100%;
    border-radius: 8px;
    border-color: blue;
    color: blue;
    background-color: black;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}




.navfont1{
    font-family: 'Exo', serif;
    font-size: 22px;
    font-weight: bolder;
}

a.navfont1:link, a.navfont1:visited{
    color:rgb(0, 255, 0);
    background-color: black;
    padding: 4px 12px;
    text-align: center;
}

.navfont2{
    font-family: 'Exo', serif;
    font-size: 18px;
    font-weight: bolder;
}

a.navfont2:link, a.navfont2:visited{
    color:blue;
    background-color: black;
    padding: 4px 12px;
    text-align: center;
}
a.navfont1:hover, a.navfont2:hover{
    background-color: rgb(92, 92, 92);
    padding: 4px 12px;
    text-align: center;
}

a.navfont1:active, a.navfont2:active{
    color: red;
    background-color: rgb(92, 92, 92);
    padding: 12px 20px;
    text-align: center;
}

th, td {
    padding: 15px 10px 20px 5px;
  }


.BorderA{
    border: solid rgb(0, 255, 0) 2px;
    border-radius: 24px 24px 0px 0px;
} 

.BorderB{
    border: solid rgb(0, 255, 0) 2px;
}

.BorderC{
    border: solid rgb(0, 255, 0) 2px;
    border-radius: 0px 0px 24px 24px;
}

body, nav{
    background: black;
}

nav{
    border-bottom: 2px dashed silver;
}

button{
    background-color: black;
    border: 1px solid blue;
    border-radius: 16px;
    color: red;
    font-family: 'Exo', serif;
    font-size: 20px;
    padding: 4px 8px;
}