<br>
<div class="container">
    <div class="row">
        <div class="col-12 text-center BorderA p-4">
            <h1><div>Subtraction</div></h1>
        </div>
    </div>

    <div class="form-group">

    <form [formGroup]="formy" id="formy" name="formy" (ngSubmit)="subSub()" >
        <div class="row">
            <div class="col-6 text-right BorderB px-4 py-2">
                <h3>Number 1:</h3>
            </div>
            <div class="col-6 BorderB px-4 py-2">
                <h3>Number 2:</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-6 BorderB p-4">
                <input type="text" class="text-center font form-control" formControlName="num1" name="num1" id="num1"  (keypress)="num($event)" required>
            </div>
            <div class="col-6 BorderB p-4">
                <input type="text" class="text-center font form-control" formControlName="num2" name="num2" id="num2"  (keypress)="num($event)" required>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center BorderB px-4 py-2">
                <h3>Difference: &nbsp; {{num3}}</h3>
                <h5 *ngIf="num3">{{num4}} - {{num5}} = {{num3}}</h5>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 text-center BorderC px-4 py-2">
                <button>Submit</button>
            </div>
        </div>
    </form>
</div>

</div>